*{
  box-sizing: border-box;  
}

.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(0, 0, 0, 0.8);
}

.modals-wrapper{
    overflow: auto;
    width: 600px;
    padding: 20px;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);

    background-color: #fff;

}